.inputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.label {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}

.required {
  color: #ff0000;
  margin-left: 4px;
}
.input {
  padding: 4px 4px 4px 16px;
  font-size: 24px;
  border: 1px solid var(--input-border-color);
  border-radius: 12px;
  outline: none;
  height: 56px;
  width: 440px;
  color: var(--secondary-font-color);
  transition: border-color 0.3s ease;
}

.input:focus {
  border-color: #007bff;
}
