.header {
  position: sticky;
  height: 65px;
  border-bottom: 1px solid var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  top: 0;
  background-color: var(--bg-color);
}
.headerText {
  font-size: 18px;
  font-weight: bold;
  /* margin-left: 3rem; */
}
