:root {
  --font-color: #0d141c;
  --bg-color: #ffffff;
  --primary-color: #2985e5;
  --secondary-color: #e5e8eb;
  --secondary-font-color: #4f7396;
  --input-border-color: #d1dbe8;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--bg-color);
  font-family: "Manrope Variable", sans-serif;
  color: var(--font-color);
}
